@media (min-width: 1200px){
.container {
  width: 1600px;
}
}
.container {
  margin-top:25px
}
form .error {
  font-size: 16px;
  color: #a94442;
  font-weight: 400;
}
.element-box {
  width: 23px;
  height: 23px;
  background: #d9121f;
  color: #fff;
  text-align: center;
  padding: 4px 0px 0px 0px;
  font-size: 10px;
  font-weight: 600;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  margin-top: 2px;
  font-style: normal;
  cursor: pointer;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
}
.element-box:hover {
  background: #333333;
}
iframe {
  border: 0 none !important;
  height: 960px;
  width: 100%;
  margin-top: -80px;
}
#close {
  display: none;
  text-align: center;
}
#close span {
  cursor: pointer;
  color: #000;
}
.help-panel {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1030;
}